/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/matrix-transform.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define PREFS  1
#define SYS 2


/{
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N1  &kp N2  &kp N3  &kp N4  &kp N5
                /*
                &mo N1  &kp N2  &kp N3  &lt SYS N4  &lt PREFS N5
                */
            >;
        };

        prefs_layer {
            bindings = <
                &out OUT_TOG   &bt BT_SEL 1   &bt BT_SEL 2  &bt BT_CLR   &none
            >;
        };

        sys_layer {
            bindings = <
                &none   &none   &none   &none   &bootloader
            >;
        };

    };
};